* {
    margin: 0; 
    padding: 0;
}

.header1 {
  background: red;
  height: auto;
  text-align: left;
  
}

.nav1{
  background: brown;
  height: 35px;
  text-align: center;
  height: auto;
}

.section1{
  background: orange;
  height: auto;
  width: auto;
}
.primercuadro{
  background-color: red;
  width: 300px;
  height: 300px;
  padding: 10px;
  /* border: 15px solid rgb(51, 201, 10); */
  margin: 10px;
  border: 10px solid black;
  border-image: url(/web/assets/image/fondo.jpg) 30;
}

.segundocuadro{
  background-color: red;
  width: 300px;
  height: 300px;
  padding: 10px;
  border: 10px solid black;
  margin: 10px;
  border-image: url(/web/assets/image/fondo.jpg) 30;


}

.aside1{
  background: yellow;
  height: 40px;
}

.footer1{
  background: seagreen;
  height: 20px;
  
}

.fondo{
  background-image: url(/web/assets/image/fondo.jpg);
}


/* .impact {
    font-family: "Latin Modern Roman";
    font-style: oblique;
  }

.textoGrande {
    font-size: 2rem;
 }
 
 .bordes_redondeados{
    border-radius: 5px;
 }

 .sin_linea{
    text-decoration-line: none;
    color: brown;
 }

 .fondo {

    width: 2550px;
    height: 1325px;
    background-color: black;
  
  } */

  /* .sobre {
    position:absolute;
    
  }

  .sobreposition button{
    background-color: rgba(255, 255, 255, 0.041);
    margin: 30px -840px 3px 890px;
    padding: 9px 30px 9px 30px;
    
}

.texto1{
    -webkit-text-stroke: 0.1px;
    font-family: "Latin Modern Roman";
    color: rgb(255, 1, 1);
    font-size: 24px;
    width: 2300px;
    height: 20px;
    padding: 10px;
    text-align: right;
    
} */