* {
    margin: 0; 
    padding: 0;
}

body{
  background-image: url(/PreEntrega1-Teao/assets/image/papiro.jpg);
  
}

/* Header */
.header1 {
  height: 59px;
  text-align: left;
  background-image: url(/PreEntrega1-Teao/assets/image/papiro.jpg);
  
}
.logoweb{
  height: 90px;
  width: 130px;
  position: relative;
  left: 20px;
  top: 4px;
}
/* ---------------------------------------- */

/* Barra de navegacion */
.nav1{
  height: 35px;
  text-align: center;
  height: auto;
  background-image: url(/PreEntrega1-Teao/assets/image/papiro.jpg);
}
.menu{
  color: rgb(5, 234, 255);
  height: 28px;
  width: 95px;
  background-image: url(/PreEntrega1-Teao/assets/image/papiro.jpg);
  border-radius: 10px;
  text-decoration-line: none;
  font: 86% sans-serif;
  
}


.spaceL {
  position: relative;
  left: -20px;
  bottom: 28px;
}

.producto {
  position: relative;
  bottom: 28px;
}

.spaceR {
  position: relative;
  right: -20px;
  bottom: 28px;
}
.spaceR2 {
  position: relative;
  right: -40px;
  bottom: 28px;
}

.spaceR3 {
  position: relative;
  right: -58px;
  bottom: 28px;
}

.versiones1 {
  position: relative;
  top:50px;
}

/* ------------------------------ */

/* Primer section */
.section1{
  background-image: url(/PreEntrega1-Teao/assets/image/fondo.jpg);
  height: 85vh;
  background-repeat: round;
  
  
}
.Introducccion{
  text-align: center;
  color: rgb(225, 255, 0);
  font-family: "Latin Modern Roman";
  font-size: 19px;
  position: relative;
  top:10px;
}

.borde{
  background-image: url(/PreEntrega1-Teao/assets/image/borde.jpg);
  width: 400px;
  height: 400px;
  margin: 10px;
  display: inline;
  border: 10px solid black;

}
/* ---------------------- */

/* Footer-Pie de pagina */


.footer{
  height: 5vh;
}

.textofooter{
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Latin Modern Roman";
  position: relative;
  top: 25px;
  font-size: 17px;

}
.logo2{
  height: 30px;
  width: 30px;
  position: relative;
  left: 132vh;
  bottom: 3px;
}

.logo3{
  height: 25px;
  width: 25px;
  position: relative;
  left: 132vh;
  bottom:6px;

}

.logo4{
  height: 25px;
  width: 25px;
  position: relative;
  left: 133vh;
  bottom:6px;

}

.logo5{
  height: 35px;
  width: 35px;
  position: relative;
  left: 134vh;
  bottom:6px;

}

/* HTML producto */

.versiones{

  /* cartas */
  background-color: rgba(240, 248, 255, 0);

}

.section2{
  background-image: url(/PreEntrega1-Teao/assets/image/fondo2.jpg);
  height: 85vh;
  background-repeat: round;
  
}

.borde2{
  background-image: url(/PreEntrega1-Teao/assets/image/borde.jpg);
  width: 280px;
  height: 330px;
  margin: 10px;
  display: inline;
  border: 10px solid black;
  position: relative;
  top: 50px;

}

.version_boton1{
  color: rgb(5, 234, 255);
  background-image: url(/PreEntrega1-Teao/assets/image/papiro.jpg);
  border-radius: 10px;
  width: 220px;
  height: 220px;
  position: relative;
  left: 1000px;
  bottom:700px;
  
  
}

.version_boton2{
  color: rgb(5, 234, 255);
  background-image: url(/PreEntrega1-Teao/assets/image/papiro.jpg);
  border-radius: 10px;
  width: 220px;
  height: 220px;
  position: relative;
  left: 775px;
  bottom:450px;
  display: inline block;

  
}

.version_boton3{
  color: rgb(5, 234, 255);
  background-image: url(/PreEntrega1-Teao/assets/image/papiro.jpg);
  border-radius: 10px;
  width: 220px;
  height: 220px;
  position: relative;
  left: 550px;
  bottom: 200px;
  display: inline block;
  
}


/* HTML Nosotros */

.empresa{

  margin: 10px;
  border: 10px solid;
  position: relative;
  border-image: url(/PreEntrega1-Teao/assets/image/papiro.jpg) 30 repeat;

}

.section3{
  background-image: url(/PreEntrega1-Teao/assets/image/fondo3.jpg);
  height: 85vh;
  background-repeat: round;
  
}

.Introducccion2{
  text-align: center;
  color: rgb(225, 255, 0);
  font-family: "Latin Modern Roman";
  font-size: 19px;
  position: relative;
  top:35px;
}

/* HTML Contacto */

.section4{
  background-image: url(/PreEntrega1-Teao/assets/image/fondo4.jpg);
  height: 85vh;
  background-repeat: round;
  
}

.Introducccion3{
  text-align: center;
  color: rgb(225, 255, 0);
  font-family: "Latin Modern Roman";
  font-size: 19px;
  position: relative;
  top:35px;
}

.formulario{
  color: rgb(0, 242, 255);
  font-family: "Latin Modern Roman";
  font-size: 25px;
  position: relative;
  top: 50px;

}

.formulario2{
  color: rgb(0, 242, 255);
  font-family: "Latin Modern Roman";
  font-size: 25px;
  top: 395px;
  position: absolute;
  left: 500px;

}



.formulario3{
  color: rgb(0, 242, 255);
  font-family: "Latin Modern Roman";
  font-size: 25px;
  top: 70px;
  position: relative;
  left: 220px;
  
}

/* HTML Extra */

.section5{
  background-image: url(/PreEntrega1-Teao/assets/image/fondo5.jpg);
  height: 85vh;
  background-repeat: round;
  
}

.video1{
  position: relative;
  top: 250px;
  display: inline-block;
}

.video2{
  position: relative;
  top: 250px;
  display: inline-block;
}

.video3{
  position: relative;
  top: 250px;
  display: inline-block;
} 